// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

body{
    background-color: #000000 !important;
}

html, body, #app{
    height: 100%;
}

#section-engage{
    margin-bottom: 24px;
    .block-engage{
        cursor: pointer;
        &:hover {
            background: #e2e3e4 !important;
        }
        a{
            color: #212121;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .block-engage.submitted{
        cursor: unset !important;
        &:hover {
            background: #f8f9fa !important;
        }
    }
}

.btn-whatsapp{
    background: #075e54;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 10px;
    margin-top: -6px;
}
